
a{
    color: white;
    text-decoration: none;
}

header{
    background-color: rgba(225, 255, 0, 0.607);
}

.blog-container{
    background-color: rgba(255, 0, 0, 0.074);
}


.blog-container h3{
    background-color: rgba(0, 0, 255, 0.073);
    border-radius: 30px;
    text-align: center;
}

.text-container{
    background-color: white;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid black;
    text-justify: inter-word;
}


footer{
    font-size: 20px;
}


footer i{
    color: white;
}
